@page
@model foundry_assessment_RAZOR.Pages.Client.EditModel
@{
    ViewData["Title"] = "Edit Client Details";
}

<h1>Edit</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="client.id" />
            <div class="form-group">
                <label asp-for="client.name" class="control-label"></label>
                <input asp-for="client.name" class="form-control" />
                <span asp-validation-for="client.name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Clients">Back to List</a>
</div>
               
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
