@page
@model foundry_assessment_RAZOR.Pages.EmployeesModel;
@using foundry_assessment_RAZOR.Model;
@using foundry_assessment_RAZOR.API;
@{
    ViewData["title"] = "Employee Information";
}

<div>
    <form method="post">
        Employee Name: <input type="text" asp-for="NewEmployeeName" />
        <button type="submit">Add Employee</button>
    </form>
    <br />
    <hr />
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th style="width: 350px;">ID</th>
                    <th style="width: 350px;">Name</th>
                    <th> </th>
                </tr>
            </thead>
            @{

                List<EmployeeClass> employeeList = new List<EmployeeClass>();
                EmployeeAPI employeeAPI = new EmployeeAPI();
                employeeList = employeeAPI.ReadEmployees();
                foreach (EmployeeClass employee in employeeList)
                    {
                    <tr>
                        <td>@employee.id</td>
                        <td>@employee.name</td>
                    </tr>
                }
            }          
        </table>
    </div>
